; This file holds tload's variable and parameter definitions.

; Set start and BSS address for standalone tload module here
	IFCONST mod_tload	; if we're building standalone tload
		SEG text
	IFCONST M_GCR
TLOAD_TEXT	SET $f800	; tload code start
TLOAD_BSS 	SET $f400	; has to be $100-aligned
	ENDIF
	IFCONST M_PLE
TLOAD_TEXT	SET $fa00	; tload code start
	ENDIF
	ENDIF

; You can modify the variable and BSS segment locations according to
; your prod's memory allocation requirements.

; There's a BSS segment (temporary data) used by the GCR code.
; The BSS segment needs to persist from the point of calling
; tload_init up to calling tload_stop (then can be discarded of).
; BSS takes ~$380 bytes.

; BSS for PLE mode (as it's a mere few ten bytes and needs no alignment)
; is defined implicitly / within tload.asm.


; Set tload specific options

; adds progress calculator and bin to dec helper. As of now, these are
; the defaults.
TLOAD_PROGRESS	EQU 0
; adds additional progress to time, time to min/sec calculators
TLOAD_PTIME	EQU 0


; Artifically trigger a bit of debug code to be assembled in tload
;mod_tloadtest	SET 1


; Variable names and locations
; These can be overridden as needed as well

;!!! Warning !!!:
; If you ever need to relocate tbase (default $e6) and tsym
; (default $e7), make sure to copy over the values produced by the
; bootstrap loader (in $e6 and $e7) to the new locations.

; sourced from standard Kernal variable definitions
VARTAB	EQU $2d
ST	EQU $90
FNLEN	EQU $ab
FNADR	EQU $af
CHKSUM	EQU $f5
LENGTH	EQU $f6

; custom variables used by tload and tloadtest code
vartab	EQU VARTAB		; need 4 consecutive bytes
st	EQU ST
fnlen	EQU FNLEN
fnadr	EQU FNADR		; need 2 consecutive bytes
sum1	EQU CHKSUM
sum2	EQU LENGTH

tstat_e	EQU $d0			; load state (external)
tstat	EQU $d1			; load state (internal)
xstor	EQU $d2			; x register storage
ystor	EQU $d3			; y register storage
sacc	EQU $d4			; serial accu (live)
pacc	EQU $d5			; process accu
tcnt	EQU $d7			; temporary and raw bit counter
tbase	EQU $e6			; timebase
tsym	EQU $e7			; timebase rising edge (a)symmetry

	IFCONST M_GCR
gacc	EQU $d6			; GCR accu
polar	EQU $d8			; edge polarity that we're finding
cacc	EQU $d9			; counter accu
pstat	EQU $da			; processing status
rcsr	EQU $db			; read cursor
ytmp	EQU $dc			; Y temp
stmp	EQU $dd			; sample temp
	ENDIF

	IFCONST TLOAD_PTIME
tmultmp EQU $de			; mul temp

; # of bytes to # of seconds multiplier constants
	IFCONST M_PLE
TMUL	EQU 256*256/(17734470/20/(3*T)/8)-1
	ENDIF
	IFCONST M_GCR
TMUL	EQU 256*256/(17734470/20/T/10)-1
	ENDIF
	ENDIF

; bit of administration
	IFNCONST TLOAD_BSS	; set default BSS segment address
TLOAD_BSS 	SET $f400	; if not yet set.
	ENDIF

