; The file (or, symlink) derived from this template holds
; t-utils' global / static parameter definitions.

; BE SURE TO _COPY_ THIS FILE to 'tutilscfg.inc' in case you want
; to customize _your own_ native build's defaults and features.
; HANDS OFF this template file, unless you want to change things
; also used by tmaster (and you know what you're doing).


; Mode is either
; GCR --> Group Code Recording
; PLE --> Pulse Length Encoding
; Default: PLE
	IFNCONST M_GCR
	IFNCONST M_PLE
;M_GCR		EQU 0
M_PLE		EQU 0
	ENDIF
	ENDIF
	
; Defined --> create regular "duplicate" Kernal file block record
; None    --> omit first copy
PLAYITSAFE	EQU 0

; Defined --> use open screen bootstrap
; None    --> leave screen closed during bootstrap loading
; (Only applicable for PLE mode. GCR boot won't work on open screen.)
OPENSCREEN	EQU 0

; Defined --> restore open screen at the end of bootstap loading
; None    --> leave it as-is.
OPENSCREENRST	EQU 0

; Defined --> stripe border while bootstrap loading
; None    --> no border striping
BORDER_STR	EQU 0

; Defined --> eor stripes
; None    --> adc stripes
BORDER_EOR	EQU 0

; Border colour mod value for striping
;BORDER_MOD	EQU $38			; add, Axon style
;BORDER_MOD	EQU $10			; add, HER style
;BORDER_MOD	EQU $7f			; eor, Novaload style
BORDER_MOD	EQU $41			; eor, HER Copy style

; Defined --> increment border colour by each page loaded
; None    --> don't

BORDER_INC	EQU 0

; Border colour reset value (when bootstrap loading concludes)
BORDER_RES	EQU $ee


; Timer is the time base to use. Nominal values:
; GCR --> $c0 (which is also one bit time)
; PLE --> $70 (T*2 --> "1" bit, T*2*2 --> "0" bit)

	IFCONST M_GCR
T		SET $C0
MODE		SET "GCR"
	ENDIF

	IFCONST M_PLE
T		SET $70
MODE		SET "PLE"
	ENDIF


; Block start and end addresses

B1S		EQU $0333
B1E		EQU $03f2
B2S		EQU $0324
B2E		EQU $0326
B3S		EQU $0609

;B3E is calculated at assembly time (see bootstrap.asm).
